yelp_dataset_challenge_academic_dataset/
.ipynb_checkpoints/
Category_attributes.ipynb
Correlation_analysis.ipynb
Geo-distances.ipynb
Untitled.ipynb
Vegas_data.pkl
Vegas_data_k15.pkl
X.pkl
Y.pkl
accuracy_distance_asVector.py
correlation analysis.ipynb
correlation_nimisha.ipynb
logistic_reg.ipynb
pd_lasvegas_10.pkl
pd_lasvegas_17.pkl
pd_lasvegas_6.pkl
pd_lasvegas_8.pkl
pd_lasvegas_9.pkl
CM_cluster_by_business_type.ipynb
pd_lasvegas_7.pkl
